services:
    frontend:
        ports:
            - "3000:3000"
        build:
            context: ./frontend
        depends_on:
            - backend
        networks:
            - app-network

    backend:
        build:
            context: ./backend
        environment:
            - ASPNETCORE_ENVIRONMENT=Production
            - ConnectionStrings__DefaultConnection=Server=postgres;Database=tododb;User Id=postgres;Password=ElixeumTodoApp123;
        depends_on:
            - postgres
        networks:
            - app-network

    postgres:
        image: postgres:17
        environment:
            POSTGRES_DB: tododb
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ElixeumTodoApp123
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
            - app-network

volumes:
    postgres_data:


networks:
    app-network:
        driver: bridge
